@charset "UTF-8";

body {
    background-color: #19244a;
    margin: 0;
    min-width: 250px;
}

input {
    font-size: 15px;
    padding: 10px;
    margin: 0px 10px 0px 30px;
}


h1{
    color: #57bda8;
    margin: 20px;
}

.form{
    margin: 5px 10px 5px 30px;
}

ul {
    margin: 0;
    padding: 20px 0px;
    cursor: pointer;
}

ul li {
    margin: 5px 30px;
    background-color: #57bda8;
    list-style-type: none;
    font-size: 20px;
}

ul li.checked {
    background-color: #f6f9e4;
    text-decoration: line-through;
}

ul li:hover {
    background-color: #e5e647;
}

h2 {
    font-size: 22px;
}

.addBtn {
    padding: 13px;
    background-color: #eee;
    cursor: pointer;
}
