@charset "UTF-8";

body {
    background-color: #19244a;
    margin: 0;
    min-width: 250px;
}

input {
    font-size: 15px;
    padding: 10px;
    margin: 0px 10px 0px 30px;
}


h1{
    color: #57bda8;
    margin: 20px;
    text-align: center
}

.form{
    margin: 5px 10px 5px 30px;
    margin: 0 auto;
}

.addBtn {
    padding: 13px;
    background-color: #eee;
    cursor: pointer;
}

.changeBtnR {
    padding: 13px;
    margin: 0px 0px 0px 50px;
    background-color: #e89;
    cursor: pointer;
}

.changeBtnG {
    padding: 13px;
    margin: 0px 0px 0px 20px;
    background-color: #8e9;
    cursor: pointer;
}

.changeBtnB {
    padding: 13px;
    margin: 0px 0px 0px 20px;
    background-color: #89e;
    cursor: pointer;
}

ul {
    padding: 20px 0px;
    cursor: pointer;
    width: 600px;
}

ul li {
    list-style-type: none;
}

li p {
    display: inline-block;
    width: 450px;
    height: 30px;
    background-color: #57bda8;
    margin: 0 0 0 30px;
    padding: 5px 0px 5px 15px;
    font-size: 20px;
}

li p:hover{
    background-color: #e5e647;
    transition: 0.1s ease-out;
}

li p.checked{
    text-decoration: line-through;
    background-color: #f6f9e4;
    color: #888;
}

li span {
    display: inline-block;
    background-color: #ABBCB9;
    color: #fff;
    font-size: 16px;
    padding: 5px 0 0 15px;
    margin: 0 0 0 10px;
    width: 25px;
    height: 33px;
    
}

li span:hover {
    background-color: #e5e5b7;
    color: #555;
    transition: 0.1s ease-out;
}

